.fixtures__table {
    width: 100%;
    margin-bottom: 6rem;

    &__header {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 4rem;

        h2 {
            display: block;
            font-size: 2rem;
            font-weight: 600;
            padding-bottom: 1rem;
        }

        .logo {
            content: "";
            background: url(../assets/Hunter-x-Hunter-Logo.png) no-repeat;
            width: 140px;
            height: 80px;
            background-size: contain;
            display: block;
        }
    }

    &__row {

        &:hover {
            background: linear-gradient(270deg, #ff2882, #963cff 45%);
            color: white;
            cursor: pointer;
        }

        &:hover &__stadium__stadium-logo {
            background: url(https://www.premierleague.com/resources/prod/v6.110.0-4750/i/sprites/global-sprite.png) -423px -488px no-repeat;
        }

        &:hover .arrow-right {
            background: url(https://www.premierleague.com/resources/prod/v6.110.0-4750/i/sprites/arrows-sprite.png) -56px -58px no-repeat;
            left: 8.5rem;
        }

        display: flex;
        width: 100%;
        justify-content: space-around;

        border-top: 1px solid #ccc;
        padding: 1rem 0;

        &__teams {
            display: flex;
            align-self: center;
            align-items: center;
            width: 42%;

            .team1-name {
                width: 150px;
                text-align: right;
            }

            time {
                border: 1px solid #ccc;
                padding: 0.4rem 0.8rem;
                min-width: 100px;
            }

            &__team-name {
                font-weight: 500;
                font-size: 1.2rem;
            }

            &__team-logo {
                margin: 0 1rem;

                img {
                    width: 50px;
                    // height: 30px;
                }
            }

        }

        &__stadium {
            width: 16%;
            display: flex;
            align-items: center;
            position: relative;

            .arrow-right {
                background: url(https://www.premierleague.com/resources/prod/v6.110.0-4750/i/sprites/arrows-sprite.png) -56px -47px no-repeat;
                width: 15px;
                height: 11px;
                position: absolute;
                left: 7.5rem;
                // margin: 0 1rem;
                transition: right .2s;

            }

            &__stadium-logo {
                background: url(https://www.premierleague.com/resources/prod/v6.110.0-4750/i/sprites/global-sprite.png) no-repeat;
                width: 23px;
                height: 14px;
                background-position: -728px -552px;
                margin-right: 1rem;
            }

        }

    }
}