.navbar {
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    z-index: 100;

    display: grid;
    grid-template-areas:
        'logo chars'
        'logo nav';

    grid-template-columns: max-content;
    grid-template-rows: max-content;

    box-shadow: 0 0 25px rgba(0, 0, 0, .2);


    &__logo {
        z-index: 200;
        background-color: #37003c;
        grid-area: logo;
        height: 10rem;

        img {
            background: #fff;
            border-radius: 0 5rem 0 0;
            padding: 25px 15px;
            padding-right: 25px;

        }
    }
}

.navbar__rapper {
    background: #37003c;
    padding-left: 40px;
    width: 100%;
    grid-area: chars;


}

.navbar__teams-logos {

    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 5.5rem;


    img {
        transition: all .1s ease-in-out;
        width: 4.25rem;
        height: 4.25rem;
        margin: 0 0.2rem;
        &:hover {
            transform: scale(1.2);
            filter: brightness(1.1) saturate(1.2);
        }
    }
}

.navbar__main {
    grid-area: nav;

    background-color: #fff;
    padding: 0rem 3rem;


    &__links {

        display: flex;
        justify-content: end;
        align-items: center;
        height: 4.5rem;


        a,
        button {
            color: #37003c;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0 1rem;
            transition: all .1s ease-in-out;
            cursor: pointer;
            font-family: 'Josefin Sans', sans-serif;
        }
    }
}