.page-section {
    // width: 90vw;
    // max-width: 1000px;

    width: 100%;
    border-width: 10px 1px 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #e8e8e8;
    border-top-color: #e90052;
    padding: 2rem 1.5rem;
    margin-bottom: 5rem;

    &__header {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.profile__info {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;

    flex-direction: column;

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 300px
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;

        margin: 0 1rem;
    }

    &__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 1rem;

        &__label {
            font-weight: 600;
            font-size: 1.2rem;
            margin-right: 0.5rem;
        }

        &__value {
            font-size: 1.2rem;
        }

        &__input {
            input {
                padding: 0.5rem;
                border: 1px solid #ccc;
                margin-bottom: 2rem;
                border: none;
                padding: 15px;
                border-bottom: 1px solid #76766f;
                background: #e8e8e8;
            }

            select {
                padding: 0.5rem;
                border: 1px solid #ccc;
                margin-bottom: 2rem;
                border: none;
                padding: 15px;
                border-bottom: 1px solid #76766f;
                background: #e8e8e8;
            }


            input:focus {
                background: white;
            }
        }

        button {
            padding: 0.8rem 1rem;
            background: #37003c;
            color: white;
            border: none;
            font-size: 1.2rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.modal-container {
    display: flex;
    justify-content: space-between;
}

.modal-col {
    display: flex;
    flex-direction: column;

    label {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1rem;
        padding: 10px;
    }

    input {
        display: block;
        padding: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        border: none;
        padding: 10px;
        border-bottom: 1px solid #76766f;
        background: #e8e8e8;
    }

    select {
        padding: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        border: none;
        padding: 10px;
        border-bottom: 1px solid #76766f;
        background: #e8e8e8;
    }


    input:focus {
        background: white;
    }
}

.add-padding-right {
    padding-right: 4rem;
}